:root{
    --main-bg: #193b6810;
    --secondary-bg: #ffffff;
    --text-color: #193b68;
    --secondary-text: #193b6838;
    --highlight: #1479ff;
    --highlight-text: white;
    --inactive: #147aff11;
    --shadow: #1479ff24;
    --grey: rgba(128, 128, 128, 0.555) ;
    --default-p : 1em;
}



html {
    height  : 100%;
    overflow: hidden;
    position: relative;
}


body{
    box-sizing: border-box;
    width: 100vw;
    height  : 100%;
    overflow: auto;
    position: relative;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg);
}

.h100{
    height: 100%;
  }

  .deep-shadow:hover{
    box-shadow: 0 0 20px var(--shadow);
}

  .deep-shadow{
      box-shadow: 0 0 10px var(--shadow);
  } 


.panel{
    background-color: var(--secondary-bg);
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
}

  .highlight{
      background-color: var(--inactive);
      color: var(--secondary-text);
      transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }

  .highlight.active{
      background-color: var(--highlight);
      color: var(--highlight-text);
      box-shadow: 0 0 0.3em var(--highlight);
      transition: background-color 0.3s , color 0.3s , box-shadow 0.3s;
  }

  .content-wrapper{
      overflow-y: auto;
      padding: 1em 1em 2em 1em;
      
  }

  .flex{
      display: flex;
  }

  .row{
      flex-direction: row;
  }


  p a{
      color: var(--highlight);
      font-weight: bolder;
      text-decoration: none;
  }

  .hidden{
      opacity:0;
      z-index:-1;
  }

  .cv-stage{
      margin-top:5em;
  }

  @media screen and (max-width: 780px){
    :root{
        --default-p : 0.5em;
    }

    .cv-stage{
        margin-top:1em;
    }
}