main{
    padding:5vh 5vw;
    display:flex;
    flex-direction: column;
    background-color: #fff782;
}
.news-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow:2;
    border: 1px solid grey;
    overflow: hidden;
    background-color:white;
}

.news-box a, .news-box div{
    font-size: 5vh;
}

/* https://ryanmulligan.dev/blog/css-marquee/ */
.marquee{
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
  
.marquee__content{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 5s linear infinite;
    font-family:Arial, Helvetica, sans-serif
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

.date{
    align-self: start;
}

.adress{
    align-self: end;
}

.date, .adress{
    margin: 1vw 3vw;
}

.adress span{
    display: block;
    text-align: right;
}

.title{
    font-size: 3em;
    margin: 1em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .news-box *{
        font-size: 1rem;
        margin: 5vw;

    }
    
  }
