html, body{
    height: 100%;;
    margin: 0px;
    width: 100%;
}

body *{
    box-sizing: border-box;
}

body{
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    padding: 5vh 5vw;
    display:flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    position: relative;
    flex-grow: 2;
}
.news-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow:2;
    border: 1px solid grey;
    overflow: hidden;
    background-color:white;
}

header, .footer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vh 5vw;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.hidden-link{
    color: inherit;
    text-decoration: none;
}

#logo{
    font-size: 1.5em;
    vertical-align: middle;
}

#contact{
   display: flex;
   vertical-align: middle;
}

.link a{
    display: block;
    vertical-align: middle;
    padding: 0.3em 1em;
    text-decoration: none;
}

.link a:before{
    content: "\2192";
}






